/* .uploadButton {
    position: absolute;
    width: 90%;
    height: 90%;
    outline: none;
    background-color: black;
    opacity: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
} */