.about-page {
    display: flex;
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    align-items: center;
    /* justify-content:center; */
    flex-direction: column;
}
.team-member {
    background-color: rgb(9, 227, 158);
    width:100%;
    height: 30%;
}

#about-page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
}