.cart-container{
    max-width: 960px;
    position: relative;
    margin: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 80px;
}

.cart-content {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px;
    min-width: 980px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.cart-item-box {
    color: var(--color-font-header);
    width: 66%;
    background-color: var(--color-cart-page-background-2);
    border-radius: 4px;
    padding: 24px
}

.cart-item-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    font-size: 25px;
    font-weight: 600;
}

.cart-heading {
    
}

.cart-cart-heading {

}

.cart-item {
    width: 100%;
    display: flex;
    position: relative;
}

.cart-item-img {
    max-width: 160px;
}

.cart-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%
}

.cart-item-preview-image {
    width: 100%;
    margin-bottom: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
}

.cart-item-details {
    /* background-color: aqua; */
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 21px 0 26px;
    height: 80%;
    min-width: 300px;
}

.cart-item-author:hover {
    cursor: pointer;
}

.cart-item-price {
    /* background-color: yellow; */
    min-width: 80px;
    height: 50%;
    text-align: right;
    font-size: 25px;

    margin-left: 30px;
}

.checkout-box {
    width: 33%;
    background-color: var(--color-cart-page-background-2);
    border-radius: 4px;
    padding: 24px;
    color: var(--color-font-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.sub-total-container {
    font-size: 24px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 30px;
}

.checkout-form {
    align-items: center;
}

.checkout-btn {
    
    height: 50px;
    color: var(--off-white);
    background-color: #121212;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    white-space: nowrap;
    line-height: normal;
    cursor: pointer;
    letter-spacing: 2px;
    width: 220px;
    margin-left: 10px;
    /* margin-right: 20px; */
    text-align:center;
}

/* .empty-cart-container {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
} */