.create-artwork-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-artwork-form form {
    display: flex;
    height: 250px;
    width: 380px;
    background-color: var(--off-white);
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px;
}