.main-page {
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow: hidden scroll; */
    position: relative;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.main-banner-box {
    margin-top: 20px;
    display: flex;
    position: relative;
    width: 100%;
    max-width: none;
    height: 400px;
    justify-content: center;
    box-sizing: border-box;
    /* align-items: center; */
}

.main-banner {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1080px;
    height: 390px;
    max-width: none;
    /* background-color: red; */

}
.actual-banner {
    position: absolute;
    background-image: url('/assets/pixelpanda.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.popular-assets-box {
    position: relative;
    margin-top: 1%;
    margin-left: 10%;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    width: 80%;
    /* border: 1px solid black; */
    /* height: 900px; */
    margin-bottom: 3%;
}

.popular-assets-box-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#swap-button {
    display: flex;
    flex-direction: row;
    width: 5.5%;
}

#swap-button:hover {
    cursor: pointer;
}

#swap-icon {
    background-image: url('../../../assets/swap-icon.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border:none;
}

.assets {
    margin-top: 20px;
    position: relative;
    width: 100%;
    /* border: 1px solid blue; */
    height: auto;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 700px; */
}

.asset-item {
    position: relative;
    width: 19%;
    height: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* background-color: var(--interactive); */
}

.favorite-item-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 40px;
    /* color: red; */
    /* z-index: 2; */
}

.artwork-image-container{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    cursor: pointer;
}

.artwork-preview-image-user-show {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-bottom: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    object-fit: contain;
}

.artwork-preview-image {
    /* top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); */
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    margin-bottom: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    object-fit: contain;
}

.artwork-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--white-form-text-color);
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: calc(80%);
    cursor: pointer;
}

.artwork-name:hover {
    text-decoration: underline;
}

.artwork-name p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: calc(90%);
}

.artwork-artist {
    font-size: 14px;
    font-weight: 300;
    color: var(--desc-text);
    margin-bottom: 5px;
}

.artwork-price-cart{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    /* margin-left: 5px; */
    font-size: 24px;
    position: relative;
}

.artwork-price-cart svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.asset-item.artist .artwork-name.artist{
    height: 200%;
}

.asset-item.artist .artwork-preview-image {
    height: 70%;
    /* background-image: url('https://aws-mern-pixelpanda.s3.us-west-1.amazonaws.com/defaultprofile.jpg'); */
    background-size: contain;
    background-position: center;
    background-color: white;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.categories .categories-items {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.category-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popular-icon {
    background-image: url("/assets/fire-icon.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#chinese-icon {
    background-image: url("/assets/taiji-icon.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#japanese-icon {
    background-image: url("/assets/torii-gate-icon.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#fantasy-icon {
    background-image: url("/assets/dragon-icon.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#pixel-icon {
    background-image: url("/assets/panda-icon.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.category {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category:hover .category-wrapper{
    border-radius: 50%;
    animation: bounce 0.5s ease normal;
}

.category-name {
    position: absolute;
    display: flex;
    align-self: flex-end;
    bottom: -15px;
    font-weight: 500;
}

.category:hover .category-name {
}

#popular-label:hover .category-name{
    color: #878400;
}

#popular-label:hover .category-wrapper {
    background-color: #878400;
}

#chinese-label:hover .category-name{
    color: #e80404;
}

#chinese-label:hover .category-wrapper {
    background-color: #e80404;
}

#japanese-label:hover .category-name{
    color: #de44f5;
}

#japanese-label:hover .category-wrapper {
    background-color: #de44f5;
}

#pixel-label:hover .category-name{
    color: #2196f3;
}

#pixel-label:hover .category-wrapper {
    background-color: #2196f3;
}

#fantasy-label:hover .category-name{
    color: #29e990;
}

#fantasy-label:hover .category-wrapper {
    background-color: #29e990;
}

.tooltip {
    position: fixed;
    font-size: 24px;
    color: var(--off-white);
    background-color: var(--interactive-hover);
    box-shadow: var(--interactive-box-shadow);
    padding: 10px;
    z-index: 20;
    margin-left: 80px;
    margin-top: 90px;
    border-radius: 10px;
}

.tooltip.error {
    color: var(--off-white);
    background-color: rgba(242, 63, 66, 0.8);
    box-shadow: var(--interactive-box-shadow);
}

#swap-text {
    user-select: none;
}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    20% {transform: translateY(-20px);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-10px);}
    80% {transform: translateY(-5px);}
}