#modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  overflow: none;
}

.create-server#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;


}


.edit-server#modal {
  left: 136px;
  right: 112px;
  top: 50px;
  transform-origin: top center;
  transition: transform .12s ease-out, opacity .12s ease-out, -webkit-transform .12s ease-out;
  z-index: 20000;
}

.edit-channel#modal {
  left: 936px;
  top: 50px;
  transform-origin: top center;
  transition: transform .12s ease-out, opacity .12s ease-out, -webkit-transform .12s ease-out;
  z-index: 20000;
}


#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

  overflow: none;
}

.edit-server#modal-background {
  background-color: rgba(0, 0, 0, 0);
}

.edit-channel#modal-background {
  background-color: rgba(0, 0, 0, 0);
}

#modal-content {
  position: absolute;
  background-color: white;
  overflow: none;
}

.create-server#modal-content {
  position: absolute;
  background-color: white;
  color: var(--brand);
  border-radius: 15px;
}

.edit-server#modal-content {
  position: absolute;
  background-color: transparent;
}

.edit-channel#modal-content {
  position: absolute;
  background-color: transparent;
}