.links-nav {
    /* position: absolute; */
    z-index: 3;
    width: 550px;
    overflow: hidden;
    position: relative;
}

.links-auth {
    position: relative;
    z-index: 3;
    width: 550px;
    overflow: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 10;
    border-bottom: 1px solid grey;
    background-color: rgb(36,36,36);
}

.searchbar-field {
    width: 90%;
    /* position: relative; */
}

.searchbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--off-white);
    height: 40px;
    width: 28rem;
    position: relative;
    margin-right: 15px;
    /* margin-top: 5px; */
}

#searchbar {
    border: 0;
    border-bottom: 1px solid var(--off-white);
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    font-size: 16px;
    /* color: black; */
    color: var(--off-white);
    margin-top: 5px;
    padding-left: 10px;
}

#searchbar-icon {
    /* border-bottom: 1px solid black; */
    top:0;
    left: 0;
    /* color: rgb(36,36,36); */
    color: var(--off-white);
    width: 30px;
    height: 30px;
}

.searchbar-results {
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10 ;
    width: 28rem;
    left:0;
    top: 40px;
    border-radius: 6px;
    overflow: visible;
    transition:cubic-bezier(1, 0, 0, 1) 180ms cubic-bezier(0.6, 0, 0.825, 0.115) 0s,opacity 108ms cubic-bezier(0.6, 0, 0.825, 0.115) 72ms,transform 180ms cubic-bezier(0.6, 0, 0.825, 0.115) 0s,visibility 0s linear 144ms
}
.searchbar-result-name {
    cursor:pointer;
    background-color: white;
    color: black;
    padding-left: 8px;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    /* position: absolute; */
}

.searchbar-result-name a {
    color: black;
    text-decoration: none;
}

.searchbar-result-name a:visited {
    color: black;
    text-decoration: none;
}

.searchbar-result-name:hover {
    background-color: var(--interactive-hover);
    cursor: pointer;
}

/* .searchbar-results {
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 400px;
    overflow: visible;
}

.searchbar-result-name {
    z-index: 3;
    cursor:pointer;
} */

.nav-tools {
    margin-top: 10px;
    /* color: rgb(72,72,72); */
    color: var(--off-white);
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    transition: all 300ms ease-in-out 0s;
    display:flex;
    justify-content: space-around;
    height: 70%;
}

.nav-tools svg {
    
    width: 30px;
    height: 30px;
}

.nav-tools div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-tools div:hover {
    color: rgb(230,0,18);
    cursor: pointer;
}

.nav-tools div:hover a {
    color: rgb(230,0,18);
    cursor: pointer;
}

.nav-tools div svg{
    padding-right: 5px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--off-white);
}

.navbar-logo {
    z-index: 11;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('/assets/paintpanda.png');
    background-repeat: "no-repeat";
    background-position: center;
    background-size: contain;
    margin-left: 30px;
    cursor: pointer;
}

.nav-tools.logout{
    display: flex;
    position: relative;
}

.nav-tools.logout div a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}