.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: var(--off-white);
    background-color: rgb(36, 36, 36);
    height: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .footer-socials{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    height: 30px;
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
  }

  .footer-content > div:not(.profile):hover{
    color: rgb(230, 0, 18);
    cursor: pointer;
  }
  
  .signup-button-container {
    display: flex;
    margin-right: 10px;
    
  }
  
  .signup-button-container div a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
  }
  
  .signup-button-container div a:hover {
    color: rgb(230, 0, 18);
  }
  
  .signup-button-container svg {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 50px;
  }

  .profile:hover {
    color: var(--off-white);
  }

  .profile-image:hover {
    color: var(--off-white);
  }

  .profile-info:hover {
    color: var(--off-white);
  }

  .profile-image-container {
    height: 50px;
    width: 50px;
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */  
    border-radius: 50%;
    position: relative;
  }

  .profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    scale: 180%;
    position: absolute;
    left: 0;
  }

  .profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    width: 100px;
    cursor: text;
  }

  .profile-links {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .profile-links svg {
    margin-right: 5px;
  }