html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @import url('https://rsms.me/inter/inter-ui.css');
  body {
    display: flex;
    width: 100%;
    height: 100vh;
    
  }

  #root {
    /* display: flex; */
    width: 100%;
    height: 100%;
    font-family: 'Inter UI', sans-serif;
  }

:root {
  --danger: rgb(242, 63, 66);
  --off-white-text: rgb(224, 225, 229);
  --app-blue-links: rgb(0, 168, 252);
  --text-link-form: rgb(0, 108, 231);
  --text-link: #00b0f4;
  --focus-border: #00b0f4;

  --not-so-black: rgb(35, 39, 42);
  --home-background-color: #404eed;
  --brand: #5865f2;
  --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
  --greyple: #99aab5;
  --dark-not-black: #2c2f33;
  --focus-border: #00b0f4;
  --status-green: #43b581;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;

  --text-link-form: rgb(0, 108, 231);

  --white: #fff;
  --black: #000;
  --ekko-red: #de2761;

  --navbar-color: rgb(30, 31, 34);
  --off-white-text: rgb(224, 225, 229);
  --icon-bg: rgb(49, 51, 56);
  --danger: rgb(242, 63, 66);
  --green-cord: rgb(35, 169, 89);
  --line-separator-color: rgba(78, 80, 88, 0.48);
  --interactive: rgb(184, 185, 191);
  --user-panel-color: rgb(35, 36, 40);
  --left-sidebar-color: rgb(43, 45, 49);
  --interactive-hover: rgba(78, 80, 88, 0.6);
  --interactive-hover-heading: rgba(78, 80, 88, 0.298);
  --positive-green: rgb(45, 199, 112);

  --interactive-box-shadow: rgba(2, 2, 2, 0.2) 0px 1px 0px;
  --channel-default: rgb(152, 154, 162);

  --interactive-dm-header-text: rgb(243, 244, 245);
  --message-box-area-color: rgb(56, 58, 64);
  --nice-green: rgb(36, 128, 70);

  --white-form-text-color: rgb(6, 6, 7);
  --desc-text: rgb(78, 80, 88);
  --white-form-input-text: rgb(49, 51, 56);
  --white-form-input-bg: rgb(233, 234, 237);
  --text-muted: rgb(92, 94, 102);
  --app-blue-links: rgb(0, 168, 252);
}
